# Environnements virtuels et secrets
.venv/
venv/
env/
.env

# Git et GitHub
.git/
.github/

# Cache Python et outils de tests
__pycache__/
*.pyc
.pytest_cache/
htmlcov/
.coverage
tests/

# Outils de développement Data Science
notebook/
*.ipynb
mlflow.db
mlruns/
requirements-dev.txt

# Données brutes, intermédiaires et modèles d'entraînement lourds
data/*
*.parquet

# MAIS on crée des exceptions pour les fichiers du 5 mars nécessaires à l'API
!data/processed/
data/processed/*
!data/processed/business_rules.json
!data/processed/climate_reference.csv
!data/processed/df_fao_consolidated.csv
!data/processed/df_fao_engineered.csv
!data/processed/dummy_synthetique.csv
!data/processed/soil_coefficients_audit.pkl